#nav-bar {
    font-size: x-large;
    text-align: center;
}

#nav-bar .columns {
    border: solid;

}

#nav-bar a {
    color: black;
    text-decoration: none;
}

tfoot {
    border-top: solid 2px;
}

tfoot td {
    border-bottom: none;
}

#ergebnis tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#ergebnis tbody tr:nth-child(4n - 3) > td:first-child::before {
    content: "*";
}

#ergebnis tbody tr:nth-child(4n - 2) > td:nth-child(2)::before {
    content: "*";
}

#ergebnis tbody tr:nth-child(4n - 1) > td:nth-child(3)::before {
    content: "*";
}

#ergebnis tbody tr:nth-child(4n) > td:last-child::before {
    content: "*";
}